<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Stats</h1>
        <hr />
    </div>
</div>

<div id="RollDiceForms" style="display: none">

</div>

@section Scripts
{
    <script src="~/lib/Chart.js/chart.umd.js" asp-append-version="true"></script>
    <script src="~/js/HomeStatsScripts.js" asp-append-version="true"></script>
    <script src="~/js/RollDiceScripts.js" asp-append-version="true"></script>
}