<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Stats</h1>
        <hr />
    </div>
</div>

<p>Here will be the future statistics showing win percentage by faction and player!</p>

@section Scripts
{
    <script src="~/lib/Chart.js/chart.umd.js" asp-append-version="true"></script>
}