<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Admin</h1>
        <p>Here you will find all the tools necessary to administrate your data.</p>
        <hr />
    </div>
</div>
