<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Admin</h1>
        <hr />
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-3 text-center">
        <div class="d-grid gap-2">
            <a class="btn btn-outline-primary loadButton" asp-controller="Admin" asp-action="PlayerEditor">Players</a>
        </div>
    </div>
    <br />
    <div class="col-md-3 text-center">
        <div class="d-grid gap-2">
            <a class="btn btn-outline-primary loadButton" asp-controller="Admin" asp-action="">Factions</a>
        </div>
    </div>
    <br />
    <div class="col-md-3 text-center">
        <div class="d-grid gap-2">
            <a class="btn btn-outline-primary loadButton" asp-controller="Admin" asp-action="">Test</a>
        </div>
    </div>
</div>