@model PlayerEditorViewModel

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Players</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <hr />
        <div class="table-responsive">
            <table id="PlayerDescTable" class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            First Name
                        </th>
                        <th class="text-center">
                            Last Name
                        </th>
                        <th class="text-center">
                            Factions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.Players)
                    {
                        <tr>
                            <td>
                                @player.FirstName
                            </td>
                            <td>
                                @player.LastName
                            </td>
                            <td>
                                <button class="btn btn-outline-primary">Factions</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/PlayerEditorScripts.js" asp-append-version="true"></script>
}