<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Game Tracker</h1>
        <hr />
    </div>
</div>

<p>Here will be the future Game Tracker, tracking game and dice rolls!</p>